html, body {
    margin: 0;
    padding: 0;
    background: #353535;
    height: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: .9rem;
}

main {
    flex-grow: 1;
}

footer {
    padding: 1rem 0 1rem 0;
    flex-grow: 0;
    text-align: center;
}

.floater {
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
    color: #fff;
    line-height: 1.2rem;
}

.floater+.floater {
    margin-top: 1rem;
}

.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.floater table a {
    text-decoration: underline dotted;
    color: inherit;
}

.floater table a:hover {
    color: inherit;
}

th {
    background-color: #3498db;
    color: #fff;
    text-align: left;
    padding: 12px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

td {
    padding: 10px;
    color: #333;
}

tr:hover {
    background-color: #46acf0;
    color: #fff;
}

tr:hover a, tr:hover td a {
    color: #fff;
}

tr:hover td {
    color: #fff;
}

form {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}

input[type="submit"], a.button {
    text-decoration: none;
    padding: .5rem 2rem .5rem 2rem;
    background-color: #3498db;
    color: #fff;
    display: inline-block;
    border: none;
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
}

input[type="submit"]:hover, a.button:hover {
    background-color: #46acf0;
    color: #fff;
}

input[type="submit"] {
    margin-left: 4px;
}

select, input[type="text"] {
    color: #000;
    padding: .5rem 2rem .5rem 2rem;
}

#ranking_top {
    position: relative;
    vertical-align: bottom;
}

.global_maps_stat {
    position: absolute;
    bottom: 0;
    right: 0;
}

header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: #fff;
}

#toplogo {
    flex: 1;
    display: flex;
    align-items: center;
}

#toplogo span {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 400;
}

#bottomnav li {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

#bottomnav li+li {
    margin-left: 1rem;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #46acf0;
}

#maps .img-container {
    display: none;
    position: absolute;
    margin-top: -200px;
    right: 10px;
}

#maps tr:hover .img-container {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

table thead label {
    cursor: pointer;
}

table thead input {
    display: none;
}

table thead input+span {
    display: none;
}

table thead input:checked+span {
    display: inline-block;
}
